@import "tailwindcss";

body {
  background-color: #09090b; /* zinc-950 */
  color: #fafafa; /* zinc-50 */
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
